@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.line {
  position: relative;
}

.line::after {
  content: "";
  display: inline-block;
  height: 0.5rem; /* Tailwind h-4 */
  width: 1px; /* Tailwind w-px */

  background-color: #d1d5db; /* Tailwind bg-gray-300 */
  margin: 0.1rem; /* Tailwind mx-2 (0.5rem 양쪽 마진) */
}
